<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.dsgmedia.cox.nfcoffee">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Registering app for receiving NFC's TAG_DISCOVERED intent -->
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ManageIDs"
            android:label="@string/title_activity_manage_ids"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.dsgmedia.cox.nfcoffee.MainActivity" />
        </activity>

        <activity android:name=".NFCReadCard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.dsgmedia.cox.nfcoffee.ManageIDs" />
        </activity>

        <activity android:name=".EditID">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.dsgmedia.cox.nfcoffee.ManageIDs" />
        </activity>

        <activity android:name=".PreferencesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ro.dsgmedia.cox.nfcoffee.ManageIDs" />
        </activity>
    </application>

</manifest>